body, div, span {
  font-size: 14pt;
}

a {
  text-decoration: none;
  color: orange;
}
a:hover {
  text-decoration: underline;
  color: #f00;
}

.desc {
  margin-top: 25px;
  text-align: justify;
  line-height: 20pt;
}

red {
  color: #f00;
}
